<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Practice</title>
</head>
<body>
    <!-- Include partials -->
    <%- include('partials/header') %>

    <h2>Hello, <%= person.name %></h2>
    <h3>Occupation: <%= person.occupation %></h3>
    <h3>Favorite Color: <%= person.favColor %></h2>

    <% if (['plumber', 'organist', 'bagpiper'].includes(person.occupation.toLowerCase())) { %>
        <p>You work with pipes!</p>
    <% } else { %>
        <p>That's an interesting job!</p>
    <% } %>

    <% if (person.favColor === 'blue') { %>
        <p>You don't see the sky much?</p>
    <% } else { %>
        <p>How's the sky outside?</p>
    <% } %>

    <%- include('partials/footer') %>
</body>
</html>